body {
    font-family: "Avenir";
    margin-left: 20px;
    background-color: #f4eacd;

}

#abilities {
    color: black;
    background: white;
    width: 200px;
}

table, th, td {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

tr {
    height: 40px;
}

table {
    border-collapse: collapse;
    /*width: 100px;*/

}

.objectTable {
    margin-top: 20px;
    background: #bf2961;
    width: 300px;
    color: white;
    float: left;

}

#variables {
    background: #e6b600;
    color: white;
    width: 200px;

}

#objects {
    background: #6bdaed;
    width: 600px;
    color: white;
}

#rules {
    background: #bf2961;
    width: 600px;
    color: white;
}

#scenes {
    background: #3e83bd;
    color: white;
    width: 200px;
}

tr {
    position: relative;
    font-size: 15px;
}

#import {
    width: 100px;
    background-color: #1dd8be;
    height: 40px;
    color: white;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;

}

#save {
    width: 100px;
    background-color: #1dd8be;
    height: 40px;
    color: white;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    
}

#save p {
    position: absolute;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 15px;
}

#save {
    cursor: pointer;
}

#import p {
    position: absolute;
    margin-top: 10px;
    margin-left: 24px;
}

#import {
    cursor: pointer;
}

#right
{

    float: right;
    margin-right: 20px;

}

#left {
    float: left;
}

input {
    /*background-color: #1dd8be;*/
}

.button {
    width: 200px;
    height: 40px;
    background-color: #1dd8be;
    color: white;
    text-align: center;
    border-radius: 5px;
    position:relative;
    margin-top: 20px;
    cursor: pointer;
}

input{
    border-radius: 10px;
    border-width: 0px;
    height: 20px;
}

#results {
    height: 400px;
    width: 100%;
    border-width: 0px;
}

.bubble {
    width: 60px;
    text-align: center;
}

.inline {
    display: inline;
}
