<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <title>Hopscotch JSON Reader</title>

    </head>

    <body>

        <p style="font-size:30px;"><b>Hopscotch JSON Reader</b></p>

        <input type="file" id="selectFiles" value="" /><br/>
        <div id="import"><p>Import</p></div>

        <br />
        <p>or enter URL of project: </p><input type="text" id="url" value="" /><br/>
        <div id="submitURLButton" class="button"><p>Get project data from URL</p></div>  <br/>

        <hr />

        <div id="left">

        <div id="stageSize">
            <p id="width">Width: </p>
            <p id="height">Height: </p>
        </div>

        <div>
            <p id="originalUser">Username: </p>
        </div>

        </br>

        <div>
            <p>Abilities:</p>
            <table id="abilities"></table>
        </div>

        </br>

        <div>
            <p>Objects:</p>
            <table id="objects">
                <tr>
                    <th>Object name</th>
                    <th>Object type</th>
                    <th>Object X position</th>
                    <th>Object Y position</th>
                </tr>

            </table>
        </div>

        </br>

        <div>
            <p>Custom Objects:</p>
            <table id="customObjects"></table>
        </div>

        </div>

        </br>

        <div id="right">

            <div>
            <p>Variables:</p>
            <table id="variables"></table>
            </div>

            </br>

            <div>
                <p>Scenes:</p>
                <table id="scenes"></table>
            </div>

        </div>


        <script>

            // Table variables
            var scenesTable = document.getElementById("scenes");
            var abilitiesTable = document.getElementById("abilities");
            var objectsTable = document.getElementById("objects");
            var customObjectsTable = document.getElementById("customObjects");
            var variablesTable = document.getElementById("variables");

            // Cell variables
            var cell;
            var cell2;

            document.getElementById("import").onclick = function()
            {
                var files = document.getElementById("selectFiles").files;

                if (files.length <= 0) {
                    return false;
                }

                var fileRead = new FileReader();

                fileRead.onload = function(e) {

                    var result = JSON.parse(e.target.result);
                    getHopscotchData(result);
                }

                fileRead.readAsText(files.item(0));
            };

            document.getElementById("submitURLButton").onclick = function() {


                // Get value of text field
                var urlText = document.getElementById("url").value;

                // Check the text entered contains c.gethopscotch.com, meaning it is a valid url to a Hopscotch project
                var validUrlRegex = /(c\.gethopscotch.com\/p\/)\w+/;
                if (validUrlRegex.test(urlText) == true ) {

                    // Get uuid from URL, based on removing c.gethopscotch.com/p/ from the rest of the URL
                    var EXPECTED_DOMAIN_LENGTH = "c.gethopscotch.com/p/".length;
                    var url_section = urlText.match(validUrlRegex)[0];

                    // Extract uuid from section of url after c.gethopscotch.com/p/
                    var uuid = url_section.substring(EXPECTED_DOMAIN_LENGTH);

                    // Construct new URL with https://hopscotchprojects.s3.amazonaws.com/production/UUID.hopscotch format, for use with Yahoo Query Language
                    var YQLQueryUrl = "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20html%20where%20url%3D%22https%3A%2F%2Fhopscotchprojects.s3.amazonaws.com%2Fproduction%2F".concat(uuid, ".hopscotch%22&format=json&diagnostics=true");

                    // Get json from this URL
                    var yqlQueryResults = $.getJSON(YQLQueryUrl, {}, function(json, textStatus) {

                        // query was successful

                        if (yqlQueryResults.readyState == 4) {

                            // Extract project JSON from query results
                            var projectJSON = JSON.parse(yqlQueryResults.responseJSON.query.results.body);
                            getHopscotchData(projectJSON);
                        }

                    });



                } else {
                    alert("This does not appear to be a valid URL to a Hopscotch project");
                    // in future can put a error message on the page, rather than an alert
                }



            };

        </script>
    </body>

</html>
